<div class="form-inline search-input">
    <div class="input-group">
        <input type="search" role="searchbox" aria-label="Search" placeholder="Search" data-bind="textInput: pattern" />
        <button type="button" class="search-button" aria-label="Search APIs">
            <i class="icon icon-magnifier"></i>
        </button>
    </div>
</div>

<div role="list" class="list" data-bind="foreach: { data: tags, as: 'tag' }">
    <a href="#" role="listitem" class="list-item" data-bind="text: name"></span>
</div>